{% extends "solver/header.html" %}

{% block content %}
{% if crout %}
<h1>Método de Crout</h1>
{% elif doolittle %}
<h1>Método de Doolittle</h1>
{% else %}
<h1>Método de Cholesky</h1>
{% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    {% csrf_token %}
                    <br>
                    <label>Matriz</label>
                    <input type="text" name="A" class="form-control" size="60"/>
                    <label>Vector b</label>
                    <input type="text" name="b" class="form-control" size="60"/>
                    <label>Numero de Incognitas</label>
                    <input type="number" name="n" class="form-control">
                    <input type="submit" value="Submit" class="btn btn-primary">
                    {% if bSolucion %}
                    <label>Solucion: {{solucion}}</label>
                {% endif %}
        </form>
    </div>
</div>
</div>
{% endblock %}