{% extends "solver/header.html" %}

{% block content %}
    <h1>Punto Fijo</h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    {% csrf_token %}
                    <br>
                    <label>Funcion G(x)</label>
                    <input type="text" name="funcionGX" class="form-control" size="40"/><br>
                    <label>X Inicial</label>
                    <input type="number" name="x0" class="form-control"/><br>
                    <label>Tolerancia</label>
                    <input type="text" name="tol" class="form-control"/><br>
                    <label>Maximo Iteraciones</label>
                    <input type="number" name="maxIte" class="form-control"/><br>
                    <input type="submit" class="btn btn-primary" value="Submit"> 
                    {% if bSolucion %}
                        <label>Solucion: {{solucion}}</label>
                    {% endif %}
                    <br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}