{% extends "solver/header.html" %}

{% block content %}
    {% if biseccion %}
        <h1>Biseccion</h1>
    {% else %}
        <h1>Regla Falsa</h1>
    {% endif %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    {% csrf_token %}
                    <br>
                    <label>Funcion</label>
                    <input type="text" name="funcion" class="form-control" size="40"/><br>
                    <label>x Inicial</label>
                    <input type="number" name="xi" class="form-control"/><br>
                    <label>x Final</label>
                    <input type="number" name="xf" class="form-control"/><br>
                    <label>Tolerancia</label>
                    <input type="text" name="tol" class="form-control"/>
                    <br>
                    <input type="submit" class="btn btn-primary" value="Submit">
                    {% if bSolucion %}
                        <label>Solución: </label>
                        {{ solucion }}
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

{% endblock %}